
# python environment
.venv/

# dbt
target/
dbt_packages/
logs/
.user.yml

# placeholders for dbt-filer som kommer senere
analysis/


# mac
.DS_Store

# code editor
.vscode/
.idea/

.env

__pycache__/
